.home-page {
    width: 100vw;
    color: black;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        hsl(23, 73%, 85%) 0%,     /* Start color */
        #facdaf 70%,    /* End of gradient at 50% */
        #f5d4bf 100%    /* White continues to bottom */
    );
    display: flex;
}

.home-left-side {
    width: 60%;
    padding: 0.5rem 2rem;
}

.home-left-side .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home-left-side .exams-tasks {
    margin: 1rem 0;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.tasks {
    width: auto;
    padding-inline-start: 0;
}

.tasks li {
    padding: 0.5rem;
    justify-content: space-between;
}

.home-right-side {
    width: 40%;
    display: flex;
}

.home-right-side .survival_leaderboard {
    display: flex;
    width: 70%;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem 1rem;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

