.login_page_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    align-items: center;
}

.login_page_container form input {
    width: 50%;
    max-width: 100%;
    background-color: white;
    padding: 0.5rem;
    color: black;
}

.login_page_container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.login_page_container form button {
    width: 50%;
}

.login_page_full_container {
    display: flex;
}